<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/assets/extracss/glass.css">
<style>
      
  model-viewer {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    --poster-color: transparent;
    z-index: 2;
  }
</style>
<div id="card">

  </div>
<!-- Canvas -->
<div id="logo">
    <img src="/assets/images/playsitepowered-black.png" width="200px">
  </div>
<canvas class="orb-canvas"></canvas>
<!-- Overlay -->
<div class="overlay">
  <!-- Overlay inner wrapper -->
  <div class="overlay__inner">
    <!-- Title -->
    <h1 class="overlay__title">
     Look at the New World of Web with
      <span class="text-gradient">playsite</span> 
    </h1>
    <!-- Description -->
    <p class="overlay__description">
        you can quickly upload your glb file and view it on playsite 3d and also use it in Augmented mode.
        to view your 3D model with playsite press below button and upload your glb file.
        or you can even explore other player models by the button below.

      <strong>Upload your GLB file to view it in Playsite 3D</strong>
    </p>
    <!-- Buttons -->
    <div class="overlay__btns">

      <button class="overlay__btn overlay__btn--transparent">
        <a href="/web/new" target="_blank">

      live Editor
        </a>
      </button>

      <button class="overlay__btn ">
        <a href="/website" target="_blank" style="color: white;">
          Explore other websites
          🎨
        </a>
      </button>
    </div>
  </div>

</div>

<script type="module" src="/assets/extracss/glass.js"></script>

<script>

  const mv = document.querySelector("#model-viewer");

  const annotationClicked = (a) => {

    let ds = a.parentNode.dataset;

    mv.cameraTarget = ds.target;

    mv.cameraOrbit = ds.orbit;

    if(ds.fov !== undefined)

        mv.fieldOfView = ds.fov;

  }

</script>



