<%- include('include/header')%>







<style>

.upperheaderhero {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container-width);
    padding-left: var(--font-size--body-m);
    padding-right: var(--font-size--body-m)
}
.playsiteimg {
    margin-top: var(--spacing--m)
}
.uppernav {
    display: flex;
    margin-left: auto
}

.shared-global_header-logo_bar_component__navListWrapper {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0
}

.shared-global_header-logo_bar_component__navList {
    display: inline-block;
    list-style-type: none;
    position: relative
}

.shared-global_header-logo_bar_component__navList:first-child {
    margin-left: 0
}

.shared-global_header-logo_bar_component__navList.shared-global_header-logo_bar_component__-background-light {
    background-color: var(--color-ui--grey-20)
}

.shared-global_header-logo_bar_component__navList.shared-global_header-logo_bar_component__-border-radius {
    border-bottom-left-radius: 3px
}

.shared-global_header-logo_bar_component__navList.shared-global_header-logo_bar_component__-border-radius:last-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 3px
}



.uppernavLink{
    color:#333;
    opacity: .6;
    padding: var(--spacing--m);
    padding-bottom: 12px;
    text-decoration: none;
    transition: opacity .2s cubic-bezier(.39, .575, .565, 1)
}

.uppernavLink:hover {
    opacity: 1;
    text-decoration: none
}

.uppernavLink[href="#"] {
    cursor: default
}

.lowerheaderhero {
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container-width);
    padding-left: var(--font-size--body-m);
    padding-right: var(--font-size--body-m);
    position: relative
}

.uppernavlinkactive {
font-weight: 900;
opacity: 1;
}
</style>






<div class="sidenav">
  <div
    class="header-main"
    role="banner"
  >
    <div class="allheader">
      <div class="upperheader">
        <div class="upperheaderhero">
          <a
            href="/"
            class="playsiteimg" >
            <img
              src="/home/logo-trans.webp"
              height="auto"
              width="144"
              alt="Playsite Logo"
            />

          </a>
          <nav
            class="uppernav"
            aria-label="account"
            data-turbo="false"
          >


            <a
            class="uppernavLink"
            href="/"
 >
    Dashboard/Upload
          </a>
          </nav>
        </div>
      </div>



      <div
        class="lowerheader"
      >
        <div class="lowerheaderhero">
          <nav
            aria-label="markets"
            class="uppernav"
          >
            <a
              class="uppernavlink uppernavlinkactive"

              >App Store</a>
              <a
              class="uppernavLink"
               href="start"
              >Digi Store</a
            >
            <a
              class="uppernavLink"
              data-action="analytics-event#send"
              data-analytics-event='{"hitType":"event","eventCategory":"MarketNav","eventAction":"click","eventLabel":"CodeCanyon"}'
              href="https://codecanyon.net/?auto_signin=true"
              >Hosting Websites</a
            >
            <a
              class="uppernavLink"
              href="https://videohive.net/?auto_signin=true"
              >3D assets</a
            >
            <a
              class="uppernavLink"
              data-action="analytics-event#send"
              data-analytics-event='{"hitType":"event","eventCategory":"MarketNav","eventAction":"click","eventLabel":"AudioJungle"}'
              href="https://audiojungle.net/?auto_signin=true"
              >
              Books
              </a
            >
            <a
              class="uppernavLink"
              data-action="analytics-event#send"
              data-analytics-event='{"hitType":"event","eventCategory":"MarketNav","eventAction":"click","eventLabel":"GraphicRiver"}'
              href="https://graphicriver.net/?auto_signin=true"
              >Graphics</a
            >

            <a
              class="uppernavLink"
              data-action="analytics-event#send"
              data-analytics-event='{"hitType":"event","eventCategory":"MarketNav","eventAction":"click","eventLabel":"3DOcean"}'
              href="https://3docean.net/?auto_signin=true"
              >3D Files</a
            >




          </nav>
        </div>
      </div>
    </div>
 </div>

</div>
















































    <section class="home-show_content__root" role="main">
      <section class="home-hero_component__root">
        <div class="home-hero_component__wrapper">
          <div class="home-hero_component__autosuggestWrapper">
            <div class="home-hero_component__headerWrapper">
              <div class="home-heading_component__root">
                <h1
                  class="home-heading_component__heading home-heading_component__small"
                >
                Publish your Games, Apps, Assets  &amp; more with Playsite App Store

               
                </h1>
                <h2 class="home-heading_component__subheading">
      
                  Anyone, anywhere, can start a business, Ideal place to share your projects
                </h2>
              </div>
            </div>
            <form
              role="search"
              method="get"
              action="/search"
              class="shared-autosuggest_component__root shared-autosuggest_component__compactLayoutStyle"
              data-controller="autosuggest"
              data-action="submit->autosuggest#onSubmit"
              data-autosuggest-target="form"
              data-autosuggest-result-class="shared-autosuggest_component__searchItem"
              data-autosuggest-result-category-class="shared-autosuggest_component__searchItemCategory"
              data-autosuggest-result-separator-class="shared-autosuggest_component__searchItemSeparator"
              data-autosuggest-category-value=""
              data-autosuggest-suggestions-count-value="8"
            >
              <input
                type="hidden"
                name="category"
                value=""
                data-autosuggest-target="category"
              />
              <div class="shared-autosuggest_component__searchInputWrapper">
                <input
                  class="shared-autosuggest_component__searchInput"
                  placeholder="e.g. Candy Crush"
                  name="term"
                  autocomplete="off"
                  type="search"
                  aria-label="search"
                  value=""
                  data-search-term=""
                  data-action="keydown->autosuggest#onKeydown blur->autosuggest#onInputBlur focus->autosuggest#onInputFocus input->autosuggest#onInputChange"
                  data-autosuggest-target="input"
                  spellcheck="false"
                />

                <nav
                  class="shared-autosuggest_component__searchSuggestions"
                  data-autosuggest-target="results"
                  hidden=""
                ></nav>

                <button
                  class="shared-autosuggest_component__searchBtn"
                  aria-label="Search"
                  data-action="click->analytics-event#send"
                  data-autosuggest-target="submit"
                  data-analytics-event='{"hitType":"event","eventAction":"click;button","eventLabel":"Search bar","eventCategory":"Block interaction; Search"}'
                >
                  <span class="shared-autosuggest_component__searchBtnIcon"
                    ><svg width="100%" height="100%">
                      <use
                        xlink:href="/storefront/assets/icon_spritesheet-f6681e837aa64f7d66888c6082f81eaf79ab4d26ac5dfb502549ed602e1d1f5e.svg#search"
                      ></use>
                    </svg>
                  </span>
                  <span class="shared-autosuggest_component__searchBtnLabel"
                    >Search</span
                  >
                </button>
              </div>
            </form>


            <div class="input-group-append">
              <div class="overlay__btns">
              <button class="overlay__btn overlay__btn--transparent" type="submit">
            Enter Store
              </button>

              </div>
              
              </div>










<style>
  .overlay__btns {
    width: 100%;
    max-width: 30rem;
    display: flex;
}

.overlay__btn--transparent {
    background: 0 0;
    color: #2e000c;
    border: 2px solid #263aba;
    border-width: 2px;
    margin-right: 0.75rem;
}
.overlay__btn {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    font-weight: 600;
    color: white;
    background: #6ca12b;
    border: none;
    border-radius: 0.5rem;
    transition: transform 150ms ease;
    outline-color:#6ca12b;
    text-decoration: none;
}

</style>


















              

          </div>
          <div class="home-hero_component__imageWrapper">
            <picture>
              <source
                srcset="
                https://wallpaperaccess.com/full/2092869.jpg   "
                type="image/webp"
              />
              <img
                src="https://wallpaperaccess.com/full/2092869.jpg"
                loading="eager"
                alt="ThemeForest: Professional WordPress Themes &amp; Website Templates for any project"
                width="758"
                height="407"
                class="home-hero_image_component__image"
              />
            </picture>
          </div>
        </div>
      </section>


    </section>

    <section class="home-category_tiles_block_component__root">
      <div class="home-category_tiles_block_component__wrapper">
        <div class="home-category_tiles_block_component__smallTiles">
















































    <div class="home-category_tile_small_component__root">

                
      <div class="home-category_tile_small_component__tileDetail">
        <div class="home-category_tile_small_component__tileIcon">
          <a title="View 3D Models" href="/category/3d-models">
            <img alt="3D Models" loading="lazy" src="https://assets.market-storefront.envato-static.com/storefront/assets/category-icons/3docean/3d-models-3cb22391bf68fef5d220e36e8d22a49fc9e5c8993aa0a5f10532a5c97496683f.svg" width="64" height="64">
    </a>    </div>
    
        <div class="home-category_tile_small_component__textWrapper">
          <h2>
            <a class="home-category_tile_small_component__tileTitle" title="View 3D Models" data-action="analytics-event#send" href="/category/3d-models">3D Models</a>
          </h2>
    
          <p class="home-category_tile_small_component__tileSubtitle">3D models, objects and 3D printing files</p>
    
          <a class="home-category_tile_small_component__tileLink" title="Newest 3D Models" data-action="analytics-event#send" href="/category/3d-models?sort=date">Link</a>
      
        </div>
      </div>
    </div>

    <div class="home-category_tile_small_component__root">

                
      <div class="home-category_tile_small_component__tileDetail">
        <div class="home-category_tile_small_component__tileIcon">
          <a title="View 3D Models" href="/category/3d-models">
            <img alt="3D Models" loading="lazy" src="https://assets.market-storefront.envato-static.com/storefront/assets/category-icons/3docean/3d-models-3cb22391bf68fef5d220e36e8d22a49fc9e5c8993aa0a5f10532a5c97496683f.svg" width="64" height="64">
    </a>    </div>
    
        <div class="home-category_tile_small_component__textWrapper">
          <h2>
            <a class="home-category_tile_small_component__tileTitle" title="View 3D Models" data-action="analytics-event#send" href="/category/3d-models">Web Tools</a>
          </h2>
    
          <p class="home-category_tile_small_component__tileSubtitle">Checkout the webtools by Playsite</p>
    
          <a class="home-category_tile_small_component__tileLink" title="Newest 3D Models" data-action="analytics-event#send" href="/category/3d-models?sort=date">Link</a>
      
        </div>
      </div>
    </div>

    <div class="home-category_tile_small_component__root">

                
      <div class="home-category_tile_small_component__tileDetail">
        <div class="home-category_tile_small_component__tileIcon">
          <a title="View 3D Models" href="/category/3d-models">
            <img alt="3D Models" loading="lazy" src="https://assets.market-storefront.envato-static.com/storefront/assets/category-icons/3docean/cg-textures-ca92263dc1e570842d7f783a6a7f56d03c019dddf7862fd926dbe4797af934b0.svg" width="64" height="64">
    </a>    </div>
    
        <div class="home-category_tile_small_component__textWrapper">
          <h2>
            <a class="home-category_tile_small_component__tileTitle" title="View 3D Models" data-action="analytics-event#send" href="/category/3d-models">Web Hosting</a>
          </h2>
    
          <p class="home-category_tile_small_component__tileSubtitle">Drop your Github repo link and make it live</p>
    
          <a class="home-category_tile_small_component__tileLink" title="Newest 3D Models" data-action="analytics-event#send" href="/category/3d-models?sort=date">Link</a>
      
        </div>
      </div>
    </div>


























    <div class="home-category_tile_small_component__root">

                
      <div class="home-category_tile_small_component__tileDetail">
        <div class="home-category_tile_small_component__tileIcon">
          <a title="View 3D Models" href="/category/3d-models">
            <img alt="3D Models" loading="lazy" src="https://assets.market-storefront.envato-static.com/storefront/assets/category-icons/3docean/scripts-and-plugins-40677758ee84fc5722bf519cff9cce815a4a9e5767b25fda1e93fd54c8760d71.svg" width="64" height="64">
    </a>    </div>
    
        <div class="home-category_tile_small_component__textWrapper">
          <h2>
            <a class="home-category_tile_small_component__tileTitle" title="View 3D Models" data-action="analytics-event#send" href="/category/3d-models">Documentation</a>
          </h2>
    
          <p class="home-category_tile_small_component__tileSubtitle">and Other miselinous features</p>
    
          <a class="home-category_tile_small_component__tileLink" title="Newest 3D Models" data-action="analytics-event#send" href="/category/3d-models?sort=date">Link</a>
      
        </div>
      </div>
    </div>

    <div class="home-category_tile_small_component__root">

                
      <div class="home-category_tile_small_component__tileDetail">
        <div class="home-category_tile_small_component__tileIcon">
          <a title="View 3D Models" href="/category/3d-models">
            <img alt="3D Models" loading="lazy" src="https://assets.market-storefront.envato-static.com/storefront/assets/category-icons/3docean/3d-models-3cb22391bf68fef5d220e36e8d22a49fc9e5c8993aa0a5f10532a5c97496683f.svg" width="64" height="64">
    </a>    </div>
    
        <div class="home-category_tile_small_component__textWrapper">
          <h2>
            <a class="home-category_tile_small_component__tileTitle" title="View 3D Models" data-action="analytics-event#send" href="/category/3d-models">Main App Store</a>
          </h2>
    
          <p class="home-category_tile_small_component__tileSubtitle">Buy from official Playsite Store</p>
    
          <a class="home-category_tile_small_component__tileLink" title="Newest 3D Models" data-action="analytics-event#send" href="/category/3d-models?sort=date">Link</a>
      
        </div>
      </div>
    </div>

    <div class="home-category_tile_small_component__root">

                
      <div class="home-category_tile_small_component__tileDetail">
        <div class="home-category_tile_small_component__tileIcon">
          <a title="View 3D Models" href="/category/3d-models">
            <img alt="3D Models" loading="lazy" src="https://assets.market-storefront.envato-static.com/storefront/assets/category-icons/3docean/3d-models-3cb22391bf68fef5d220e36e8d22a49fc9e5c8993aa0a5f10532a5c97496683f.svg" width="64" height="64">
    </a>    </div>
    
        <div class="home-category_tile_small_component__textWrapper">
          <h2>
            <a class="home-category_tile_small_component__tileTitle" title="View 3D Models" data-action="analytics-event#send" href="/category/3d-models">Explore</a>
          </h2>
    
          <p class="home-category_tile_small_component__tileSubtitle">Explore websites, Games, assets and more</p>
    
          <a class="home-category_tile_small_component__tileLink" title="Newest 3D Models" data-action="analytics-event#send" href="/category/3d-models?sort=date">Link</a>
      
        </div>
      </div>
    </div>








        </div>

      </div>
    </section>
 









    
    <%- include('include/footer')%>




    <style>
      .overlay__btns {
    width: 100%;
     max-width: 100%; 
    display: flex;
}
    </style>