
<%- include('viewsf/include/_side_header') %>


<link rel="stylesheet" href="/assets/css/loader.css">



</div>



  <main>
    <article>

      <!-- 
        - #MOVIE DETAIL
      -->

      <section class="movie-detail">
        <div class="container">

            <figure class="movie-detail-banner">
  
              
            </figure>
  
            <div class="movie-detail-content">
  
              <p class="detail-subtitle">Company's </p>
  
              <h1 class="h1 detail-title">
                F<strong>A</strong>Q
              </h1>
  <div class="textcolor" style="
  color: var(--white);
  
">
<p class="space" style="
    user-select: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
">

Q: How do I host React Website on Playsite?
A:
1.just add this on package.json : "homepage":",
2.run npm run build
3.upload to github, replace github.com with playsite.store






Q: How do I submit a game to your website?
A: You can submit your game by filling out the game submission form on our website. Make sure to include all relevant information about your game, such as its title, description, and gameplay footage. Our team will review your submission and get back to you as soon as possible.

Q: What types of games do you accept?
A: We accept a wide variety of games, including but not limited to: action, adventure, puzzle, sports, and strategy games.

Q: What are the requirements for submitting a game?
A: Your game should be complete and fully functional. It should also be free of bugs, crashes, and other technical issues. Additionally, your game should not contain any offensive or illegal content.

Q: How long does it take for my game to be reviewed?
A: Review times can vary, but we strive to review submissions as quickly as possible. Typically, it takes around 1-2 weeks for a game to be reviewed.

Q: What happens if my game is accepted?
A: If your game is accepted, it will be added to our website and available for download by users. You will also receive a notification email with further instructions on how to proceed.

Q: What happens if my game is not accepted?
A: If your game is not accepted, we will provide feedback on why it was not accepted and suggestions on how to improve it. You are welcome to resubmit your game after making the necessary changes.

</p>             
            </div>
            </div>
  
          </div>
      </section>





      <!-- 
        - #TV SERIES
      -->


    </article>
  </main>






  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>



  <script src="/assets/js/script.js"></script>

 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<%- include('viewsf/include/_side_footer') %>


















