
<%- include('viewsf/include/_side_header') %>


<link rel="stylesheet" href="/assets/css/loader.css">



</div>

<!-- Loading Effect second -->


  <main>
    <article>

      <!-- 
        - #MOVIE DETAIL
      -->

      <section class="movie-detail">
        <div class="container">

            <figure class="movie-detail-banner">
  
              
  
              
  
            </figure>
  
            <div class="movie-detail-content">
  
              <p class="detail-subtitle">Company's </p>
  
              <h1 class="h1 detail-title">
                PRIVACY  <strong>POLICY</strong>
              </h1>
  <div class="textcolor" style="
  color: var(--white);
  
">
<p class="space" style="
    user-select: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
">
Privacy Policy

Last updated: 11 January 2023

PlaySite operates the <a style="color: rgb(132, 70, 70);" href="https://playsite.store">PlaysiteStore</a>

This page informs you of our policies regarding the collection, use and disclosure of personal data when you use our Service.

We will not use or share your information with anyone except as described in this Privacy Policy.

We use your personal data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from <a href="http://example.com:300/tandc">Terms and Conditions</a>.

Information Collection And Use

We collect several different types of information for various purposes to provide and improve our Service to you.

Types of Data Collected

Personal Data

While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:

Email address
First name and last name
Address, State, Province, ZIP/Postal code, City
Cookies and Usage Data
Usage Data

We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.

Tracking & Cookies Data

We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.

Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.

You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.

Examples of Cookies we use:

Session Cookies. We use Session Cookies to operate our Service.
Preference Cookies. We use Preference Cookies to remember your preferences and various settings.
Security Cookies. We use Security Cookies for security purposes.
Use of Data

<strong>PlaySite</strong> uses the collected data for various purposes:

To provide and maintain the Service
To notify you about changes to our Service
To allow you to participate in interactive features of our Service when you choose to do so
To provide customer care and support
To provide analysis or valuable information so that we can improve the Service
To monitor the usage of the Service
To detect, prevent and address technical issues
Transfer Of Data

Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.

If you are located outside India and choose to provide information to us, please note that we transfer the data, including Personal Data, to India and process it there.

</p>             
            </div>
            </div>
  
          </div>
      </section>



    </article>
  </main>






  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="/assets/js/script.js"></script>


  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<style>
    
input, textarea {
    width: 100%;
    padding: 0.6em 1em;
    padding-top: 0.6em;
    padding-right: 1em;
    padding-bottom: 0.6em;
    padding-left: 1em;
    margin: 0.5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: 0.2em;
box-sizing: border-box;
border: solid 0.0625rem var(--whi);
    border-radius: 0.25rem;
    color: var(--whi);
}
textarea{
  resize: vertical;
}

img{
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 215px;
    margin: auto;
    border-radius: 14px;
}
.btn2{
    width: 100%;
    padding: .9em 1em;
    background-color:#16db93; 
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0;
}
div .form-group select {
    background-color: var(--main-bg-color);
    color: var(--whi);
    /* background-color: inherit; */
}


</style>

<%- include('viewsf/include/_side_footer') %>
