
<%- include('viewsf/include/_side_header') %>


<link rel="stylesheet" href="/assets/css/loader.css">



</div>



  <main>
    <article>

      <!-- 
        - #MOVIE DETAIL
      -->

      <section class="movie-detail">
        <div class="container">

            <figure class="movie-detail-banner">
  
              
            </figure>
  
            <div class="movie-detail-content">
  
              <p class="detail-subtitle">help us by </p>
  
              <h1 class="h1 detail-title">
                Supporting <strong>Playsite</strong>
              </h1>
  <div class="textcolor" style="
  color: var(--white);
  
">
<p class="space" style="
    user-select: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
">
Support us:


Pay Now
</p>             
            </div>
            </div>
  
          </div>
      </section>





      <!-- 
        - #TV SERIES
      -->


    </article>
  </main>






  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>



  <script src="/assets/js/script.js"></script>

 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<%- include('viewsf/include/_side_footer') %>
