
<%- include('viewsf/include/_side_header') %>


<link rel="stylesheet" href="/assets/css/loader.css">



</div>



  <main>
    <article>

      <!-- 
        - #MOVIE DETAIL
      -->

      <section class="movie-detail">
        <div class="container">

            <figure class="movie-detail-banner">
  
              
            </figure>
  
            <div class="movie-detail-content">
  
              <p class="detail-subtitle">Company's </p>
  
              <h1 class="h1 detail-title">
                Terms and  <strong>Conditions</strong>
              </h1>
  <div class="textcolor" style="
  color: var(--white);
  
">
<p class="space" style="
    user-select: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
">

Terms and Conditions

Last updated: 11 January 2023

Please read these Terms and Conditions carefully before using the <a href="playsite.store">PlaySite</a>  website operated by <strong>Playsite</strong>.

Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.

By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.

Accounts

When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.

You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.

You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.

Content

Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, or other material ("Content"). You are responsible for the Content that you post on or through the Service, including its ownership, legality, reliability, and appropriateness.

By posting Content on or through the Service, you represent and warrant that: (i) the Content is yours (you own it) and/or you have the right to use it and the right to grant us the rights and license as provided in these Terms, and (ii) that the posting of your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity.

We reserve the right to terminate the account of any user who violates these terms.

Links To Other Web Sites

Our Service may contain links to third-party web sites or services that are not owned or controlled by Playsite.

Playsite has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Playsite shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.

We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.

Termination

We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.

All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

Governing Law

These Terms shall be governed and construed in accordance with the laws of India, without regard to its conflict of law provisions.

Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court

</p>             
            </div>
            </div>
  
          </div>
      </section>





      <!-- 
        - #TV SERIES
      -->


    </article>
  </main>






  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>



  <script src="/assets/js/script.js"></script>

 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<%- include('viewsf/include/_side_footer') %>
