
<%- include('../include/_side_header') %>


<link rel="stylesheet" href="/assets/css/loader.css">
<link rel="stylesheet" href="/blog/css/home.css">



</div>



  <main>
    <section class="blogs-section">
       <div class="blog-card">
          <img src="img/header.png" class="blog-image" alt="">
          <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur.</h1>
          <p class="blog-overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos porro repellat harum. Adipisci tempora corporis rem cum.</p>
          <a href="/" class="btn dark">read</a>
      </div> 
  </section>
  </main>






  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>



  <script src="/assets/js/script.js"></script>

 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<%- include('../include/_side_footer') %>
