
<%- include('../include/_side_header') %>


<link rel="stylesheet" href="/assets/css/loader.css">
<link rel="stylesheet" href="/blog/css/blog.css">



</div>



  <main>
    <section class="blogs-section">
        <div class="blog">
            <h1 class="title">here comes the title</h1>
            <p class="published"><span>published at - </span></p>
            <div class="article">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo incidunt fugiat porro officia quibusdam, minima error iste, dolorum, iusto sapiente doloribus itaque. Facere consectetur officia quae inventore sequi, explicabo illum enim numquam tempore expedita iure ut eos illo repudiandae, deserunt, saepe vitae ducimus nesciunt corrupti ex non recusandae? Aperiam quam, ipsa reiciendis aspernatur nihil, sunt dicta sit eum in debitis velit similique, provident harum expedita quibusdam atque. Iusto sed rerum inventore dolores earum quos suscipit. Odit sunt dolore dicta tempore temporibus ab quaerat rerum cumque animi voluptatum excepturi enim blanditiis repellendus ipsam tempora, deleniti nulla laboriosam mollitia impedit cupiditate! Harum corrupti sed similique modi incidunt! Nesciunt nulla perspiciatis excepturi quasi libero sequi! Provident est pariatur facilis, asperiores sapiente quae consequuntur eum ex, molestias et quas commodi minus esse in soluta placeat vel ea fugiat maxime sint ab, cumque atque obcaecati! Quia eligendi maxime ab eveniet mollitia quos, accusantium iste. Delectus accusantium blanditiis voluptatem nesciunt voluptates id sit natus quam nihil, possimus repellat maxime labore nobis consequuntur reprehenderit distinctio tempore iste voluptatibus autem fugit commodi amet aspernatur. Eos eveniet exercitationem corrupti doloribus quia fugit reprehenderit, dicta hic vitae, cum veniam optio quos vero reiciendis nulla labore quisquam voluptas animi dolore architecto dolorum. Sed nulla eveniet atque possimus velit expedita labore pariatur inventore ullam, obcaecati in quisquam id facilis animi necessitatibus saepe distinctio incidunt eum, nobis iure consequatur suscipit placeat? Minima tempore ipsam eum vel quibusdam et deleniti enim alias rem obcaecati magnam, voluptas iste consectetur suscipit adipisci omnis? Rerum nisi ex enim deserunt maxime ut assumenda reprehenderit magni aut, iste voluptatibus maiores numquam. Quod rerum et eos quaerat maxime excepturi ex earum dolore quam ullam dolorum saepe porro tempora molestiae optio magnam odio, delectus consectetur corrupti. Deleniti totam, harum accusantium ipsa sint quidem deserunt obcaecati hic fugit at tempore, dolorem suscipit!
            </div>
        </div>
    
        <h1 class="sub-heading">Read more</h1>
    
        <!-- blog section -->
        <section class="blogs-section">
            <!-- <div class="blog-card">
                <img src="img/header.png" class="blog-image" alt="">
                <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur.</h1>
                <p class="blog-overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos porro repellat harum. Adipisci tempora corporis rem cum.</p>
                <a href="/" class="btn dark">read</a>
            </div> -->
        </section>
    
       
  </section>
  </main>






  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>



  <script src="/assets/js/script.js"></script>

 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<%- include('../include/_side_footer') %>
