
<%- include('../include/_side_header') %>


<link rel="stylesheet" href="/assets/css/loader.css">



</div>



  <main>
    <article>

      <!-- 
        - #MOVIE DETAIL
      -->

      <section class="movie-detail">
        <div class="container">

            <figure class="movie-detail-banner">
  
              
            </figure>
  
            <div class="movie-detail-content">
  
              <p class="detail-subtitle">Company's </p>
  
              <h1 class="h1 detail-title">
                Blog  <strong>Page</strong>
              </h1>
  <div class="textcolor" style="
  color: var(--white);
  
">
<p class="space" style="
    user-select: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
">
The decade-old PlayStation 4, released all the way back in 2013, has continued to receive big, new exclusives from Sony, even if those old-gen ports feel outdated or inferior. But now, it finally seems like Sony is ready to move on and leave the aging PS4 behind. Well, almost ready…

It’s somewhat hard to believe, but the PlayStation 5 was released over two years ago on November 12, 2020. Yet, the last few massive Sony exclusives—Horizon: Forbidden West and God of War: Ragnarök—were released on the PS5 as well as the elderly PS4. And while it was nice that more folks got a chance to play these big games, it also felt odd to see Sony still supporting this weird era of cross-gen games into 2023. This was the same company whose boss, Jim Ryan, infamously said in 2020 that Sony had always believed in “generations” in response to Microsoft promising long-term support for cross-gen games, meaning you can only be in one era at a time. Fast forward to early 2023, and while Microsoft in 2022 failed to really ship…anything for any generation of Xbox, Sony did publish a few big titles. But most launched on both PS4 and PS5, seemingly going against Sony’s belief in separate, distinct generations.


</p>             
            </div>
            </div>
  
          </div>
      </section>





      <!-- 
        - #TV SERIES
      -->


    </article>
  </main>






  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>



  <script src="/assets/js/script.js"></script>

 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<%- include('../include/_side_footer') %>
