<%- include('include/_side_header', {title: title,headdesc:"download from thousands of apps, games, digital assets" ,headimg : "https://playsite.store/assets/images/meta.png",headtags:"playsite official store home page"}); %>




  <main>
    <%- include('in2-temp',{post1:post1, post2:post2, post3: post3, recentViewed:recentViewed}) %>
  </main>





  <!-- 
    - #FOOTER
  -->


  <%- include('include/_side_footer.ejs') %>



<style>
    .movie-card2 .card-banner2 {
    position: relative;
    background: var(--gunmetal-1);
    aspect-ratio: 2 / 2;
    border-radius: 60px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: var(--transition-1);
}
</style>
