

  <footer class="footer">

    <div class="footer-top  page-footer">
      <div class="container">

        <div class="footer-brand-wrapper">

          <a href="/" class="logo">
            <img src="/assets/images/logo2.png" alt="logo">
          </a>

          <ul class="footer-list">

            <li>
              <a href="/" class="footer-link">Home</a>
            </li>

            <li>
              <a href="http://dev.applinks.ml" class="footer-link">Upload</a>
            </li>

            <li>
              <a href="/search" class="footer-link">search</a>
            </li>

            <li>
              <a href="/auth" class="footer-link">login</a>
            </li> 

            <li>
              <a href="/auth" class="footer-link">signup</a>
            </li>
            <li>
              <a href="/auth/logout" class="footer-link">log out</a>
            </li>
          </ul>

        </div>

        <div class="divider"></div>

        <div class="quicklink-wrapper">

          <ul class="quicklink-list footercolor">

            <li>
              <a href="/faq" class="quicklink-link">Faq</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Help center</a>
            </li>

            <li>
              <a href="/tandc" class="quicklink-link">Terms & Conditions</a>
            </li>

            <li>
              <a href="/privacy" class="quicklink-link">Privacy</a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2022 <a href="#">dev</a>. All Rights Reserved
        </p>

        <!-- <img src="./assets/images/footer-bottom-img.png" alt="Online banking companies logo" class="footer-bottom-img"> -->

      </div>
    </div>

  </footer>





  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="/assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>



<style>
    .page-footer {
    color: rgb(232, 230, 227);
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(14, 77, 108) 43%, rgb(20, 108, 152) 100%);
    background-color: rgb(20, 110, 155);


    position: relative;
    width: 100%;
    overflow: hidden;
    color: #fff;

    background: linear-gradient(134deg, #06461f21 0%, #13377417 43%, #030f1518 100%);
    background-color: #198ac200;
  }  
</style>