<!-- <footer class="footer">

    <div class="footer-top page-footer">
      <div class="container">

        <div class="footer-brand-wrapper">

          <a href="./index.html" class="logo">
            <img src="/assets/images/logo2.png" alt="logo">
          </a>

          <ul class="footer-list">

            <li>
              <a href="/dashboard" class="footer-link">Home</a>
            </li>

            <li>
              <a href="/dashboard/add-post" class="footer-link">Add App</a>
            </li>

            <li>
              <a href="#" class="footer-link">Report A Bug</a>
            </li>

            <li>
              <a href="#" class="footer-link">About Us</a>
            </li>

            <li>
              <a href="#" class="footer-link">Feedback</a>
            </li>
            <li>
                <a href="/auth/logout" class="footer-link">Log out</a>
              </li>
        
          </ul>

        </div>

        <div class="divider"></div>

        <div class="quicklink-wrapper">

          <ul class="quicklink-list">

            <li>
              <a href="#" class="quicklink-link">Faq</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Help center</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Terms of use</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Privacy</a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook" role="img" class="md hydrated" aria-label="logo facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter" role="img" class="md hydrated" aria-label="logo twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest" role="img" class="md hydrated" aria-label="logo pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin" role="img" class="md hydrated" aria-label="logo linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>



  </footer>    

</span>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
<script src="/assets/css/side.js"></script>
</body>
</html>


<style>
  .page-footer {
  color: rgb(232, 230, 227);
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(14, 77, 108) 43%, rgb(20, 108, 152) 100%);
  background-color: rgb(20, 110, 155);


  position: relative;
  width: 100%;
  overflow: hidden;
  color: #fff;

  background: linear-gradient(134deg, #06461f21 0%, #13377417 43%, #030f1518 100%);
  background-color: #198ac200;
}  
</style> -->
<style>
  .logofooter{
    width: 3.4rem;
    margin: 0 0.8rem;
  }
  .footer-logo{
    position: relative;
    display: flex;
    align-items: center;
  }
</style>



<footer class="footer">

  <div class="footer-top  page-footer">
    <div class="container">

      <div class="footer-brand-wrapper">

        <a href="/" class="logo">
          <div class="footer-logo">
        
            <img src="/assets/images/logo-red.png" class="logofooter" alt="">
            <h3 class="fontcolor" style="
            font-size: 30px;
        ">Playsite</h3>
          </div>
        </a>

        <ul class="footer-list">

          <li>
            <a href="/" class="footer-link">Home</a>
          </li>

          <li>
            <a href="http://dev.playsite.store" class="footer-link">Upload</a>
          </li>

          <li>
            <a href="/search" class="footer-link">search</a>
          </li>

          <li>
            <a href="/auth" class="footer-link">login</a>
          </li> 

          <li>
            <a href="/auth" class="footer-link">signup</a>
          </li>
           <li>
            <a href="/auth/logout" class="footer-link">log out</a>
          </li> 
        </ul>

      </div>

      <div class="divider"></div>

      <div class="quicklink-wrapper">

        <ul class="quicklink-list">

          <li>
            <a href="/faq" class="quicklink-link">Faq</a>
          </li>

          <li>
            <a href="https://forms.gle/T9hbWjXvH9a8gSpD7" class="quicklink-link">FeedBack</a>
          </li>

          <li>
            <a href="/tandc" class="quicklink-link">Terms & Conditions</a>
          </li>

          <li>
            <a href="/privacy" class="quicklink-link">Privacy</a>
          </li>

        </ul>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">

      <p class="copyright">
        &copy; 2022 <a href="#">playsite</a>. All Rights Reserved
      </p>

      <!-- <img src="./assets/images/footer-bottom-img.png" alt="Online banking companies logo" class="footer-bottom-img"> -->

    </div>
  </div>

</footer>


</span>


<!-- 
  - #GO TO TOP
-->

<a href="#top" class="go-top" data-go-top>
  <ion-icon name="chevron-up"></ion-icon>
</a>





<!-- 
  - custom js link
-->
<script src="/assets/js/script.js"></script>

<!-- 
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<!-- <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> -->
<script src="/assets/css/side.js"></script>
</body>

</html>



<style>
  .page-footer {
  color: rgb(232, 230, 227);
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(14, 77, 108) 43%, rgb(20, 108, 152) 100%);
  background-color: rgb(20, 110, 155);


  position: relative;
  width: 100%;
  overflow: hidden;
  color: #fff;

  background: linear-gradient(134deg, #06461f21 0%, #13377417 43%, #030f1518 100%);
  background-color: #198ac200;
}  
</style>